h1,p{
  text-align:center;
  width:100%;
  margin-top:2rem;
  margin-bottom:2rem;
  min-width:50px;
  font-family:sans sarif;
}
h1{
  font-size: 50;
  border:black;
  
}
p{
  font-size:30;
}
.first{
  border:0;
  margin-left:auto;
  margin-right:auto;
  
  
}


body{
 
  color:white;
  background-image: url(https://i.pinimg.com/originals/96/23/6e/96236e0f4baa6e5995d9f377e38e0d88.jpg);
  
}
input{
  display:block;
  margin-left:auto;
  margin-right:auto;
}
form{
    background-color:rgba(95, 14, 14, 0.8);
       
    max-width:80%;
    width: 50%;
    margin:auto;
    padding:10px;
    
    
}
#yes,#no{
  display:inline;
  margin-left:15px;
  
}
label{
  display:block;
  margin-left:auto;
  margin-right:auto;
  font-size:30px;
  text-align:left;
  padding-left:15px;
}
fieldset{
  margin-bottom:2em;
}
#name,#email,#number{
  width:90%;
  max-width:90%;
  margin:auto;
  padding:15px;
  margin-top: 10px;
  margin-bottom: 20px;
  border:none;
  border-radius: 7px;
}

input[type="radio"]
{
  height:20px;
  width:20px;
}
legend{
 font-size:30px;
 padding-left:10px;
}
.radio{
  padding:5px;
  
}
.second{
    border:none;
    margin-top:-20px;
    font-size:30px;
    margin-bottom:10px;
}
.region{
  padding:20px;
  font-size:30px;
  margin-bottom:-20px;
  margin-left:-10px;
  margin-top:15px;
}
.options{
  width:90%;
  max-width:90%;
  margin:auto;
  padding:20px;
  margin-top: 15px;
  margin-bottom: 20px;
  border:none;
  border-radius: 7px;
  margin-left:15px;
}
.genre{
  font-size:30px;
  margin-top:15px;
  margin-bottom:5px;
  

}
input[type="checkbox"]{
  margin-top:10px;
  margin-left:20px;
  height:20px;
  width:20px;
  display:inline;
  border: none;



}
.third{
  border:none;
 margin-top:-5px; 
 margin-bottom:10px;
}
textarea{
  display:block;
  margin-top:10px;
  height:20%;;
  width:90%;
  border-radius:15px;
}
#submit
{
    width:90%;
    height:50px;
    margin-bottom:20px;
    color: white;border-radius:15px;
  background-color:rgb(150, 0, 0);
  font-size:22px;
  border-color: rgb(255,255,255);
  border:;
  font-style:italics;
}



  
